*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
	text-decoration: none !important;
}






body {
  overflow-x: hidden;
}


.secao4 {
  margin: 0;

}

.secao4-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
  
}

.secao4-div-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3 - 60px);
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  font-family: Arial;
  transition: all 0.5s ease;
}

.secao4-div-card:hover {
  transform: scale(1.1);
  z-index: 1;
}

.secao4-div-card img {
  width: 35%;
  height: auto;
}

.secao4-div-card h3 {
  margin-bottom: 0px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .secao4-div-card {
      width: 100%;
  }
}


.lista {
    flex: 1; 
    
}

.capa {
   
    background-color: #2B2A3D;
    
    
}

.quadro {
   padding-top:4%;
   padding-bottom:4%;
   
}

.historia {
   padding-top:4%;
   padding-bottom:4%;
   
}
.historia p {
   text-align: center;
   
}

.imagemcenter {
   
   padding-top:4%;
   padding-bottom:4%;
   justify-content: center;
   width: 100%;
   object-fit: cover;
    
    
}

.aside {
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}

.main {
    flex: 1;
    height: 100%;
    background-color: #ffffff;
    
}

footer {
    height: 61px;
    background-color: #666666;
    
}

.menub {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2B2A3D;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2B2A3D;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;

  }
  
  #lista {
    font-size:24px;
  }
  
  li a:hover {
    background-color: #373594;
    
  }

  .active {
    background-color: #2724DD;
  }

  .menu-mobile {
    width: 100%;
    display: none;
    background-color: #2B2A3D;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }

.imgmenu{
  float: left;
}
  
  @media screen and (max-width: 768px) {
    .menub {
      flex-direction: column;
      display: none; /* Esconder o menu por padrão */
      width: 100%;
    }
  
    li {
      float: none;
    }
  
    .menu-mobile {
      display: block;
    }
  }

  .footer{

    background-color: #121213;
    width: 100%;
    height:100%;
    float: left;
    font-size: 18px;
   
   }
   
   .footer .left{ 
   
    width:100%; 
    float:left; 
    border-bottom:1px #222424 solid;
    border-right:0; 
    margin-bottom:20px; 
       padding-bottom:20px;
   }
   
   .footer .title-footer {
   
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-weight: initial;
       font-size:26px;
       width:100%;
       float:left;
       margin-bottom:15px;
   
   }
   
   .footer .title-footer span{
   
    color:  #2fcacf;
    font-family:'DM Sans', sans-serif;
    font-weight: bold;
   
   }
   
   /* Footer links */
   
   .footer .links{
    
    width: 100%;
    float: left;
    color:  #ffffff;
    margin-bottom: 20px;
    padding: 20px;
   
   }
   
   .footer .links a{
   
       display: block;
       line-height: 33px;
       text-decoration: none;
       color: #fff;
       font-family:'DM Sans', sans-serif;
       font-size:16px;
       transition:0.3s;
   
   
   }
   
   .footer .links a:hover { color:#2fcacf; }
   
   .footer .Copyright{
   
    font-family:'DM Sans', sans-serif;
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
   
   }
   
   /*Rede Sociais*/
   
   .footer .footer-icons{
    
    width:100%;
    float:left;
    margin-bottom:20px;
   }
   
   .footer .footer-icons a{
   
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 50px;
       font-family:'DM Sans', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center; 
    line-height: 35px;
    margin-bottom: 5px;
    transition:0.3s;
   
   }
   
   .footer .footer-icons a:hover{ background-color:#2fcacf; }
   
   /*Right*/
   
   .footer .right   { width:100%; float:left; }
   .footer .right p {
   
    font-family: 'DM Sans', sans-serif;
    font-weight: initial;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    color: #ffffff;
   
   }
   
   /*formulario*/
   
   
   
   .footer ::-webkit-input-placeholder {
    color:  #5c666b;
   }
   
   .footer ::-moz-placeholder {
    color:  #5c666b;
    opacity: 1;
   }
   
   .footer :-ms-input-placeholder{
    color:  #5c666b;
   }
   
   
   
   /*Responsive*/
   @media (min-width: 1280px) {
   
    .footer               { padding: 100px 50px 50px 100px; }
    .footer .Copyright    { font-size: 16px; }
    
    
   }
   
   @media (min-width: 768px) {
    
    .footer .left         { width:100%; border-bottom:0; padding-left:2% ; }
    .footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
    .footer form          { margin-top: 30px; }
    .footer form          { display: block; }
    .footer form button   { float: none; }
   
   }
   
.textoparis{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top:4%;
    padding-bottom:4%;
	padding-right: 1%;
	padding-left: 1%;
}

.textoparis img {
	padding-right: 1%;
	padding-left: 1%;
}


.destaque {
	padding-top:4%;
    padding-bottom:4%;
}

#ancora{
  width: 4%;
  float: right;
  margin-right: 3%;
  background-attachment: fixed;
}

#texto1{
  float: center;
  padding-left: 20%;
}



@media (max-width: 800px) {
   
  table td tr { display: block;}
  #tdmo{display: block;}
  #texto1{padding-left: 10% ;}
  #imgmo1{width: 100%;}
  #imgmo2{width: 100%;}
  #texto2{padding-left: 5%;}
  .imagemcenter{width: 10%;}
  .medals-table {
    max-width: 25%;}
  }


#texto2{
  float: center;
  padding-left: 10%;
}

#imgmo1{
  float: center;
}

#imgmo2{
  float: center;
}


#subtitulo{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
  }

#quadrado{
  padding: 5%;
}

#quadrado2{
  padding-left: 2%;
}

#quadrado3{
  padding-left: 5%;
}

#quadrado4{
  padding-left: 8%;
  padding-right: 8%;
  border-radius: 20px;
  border-style: outset;
  border-color: black;
}

#formcontato{
  width: 100%;
  height: 80%;
  margin-inline: auto;
  color: #fff;
}

.form{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  padding: 7.5%;}

  .button2 {
    width: 30%;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    color: white;

}

.button3 {
  float: right;
  width: 7%;
  height: 2%;
  border-radius: 40px;
  background-color: rgb(0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s ease;
  color: white;

}


body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
}

.medals-table {
  width: 100%;
  max-width: 85%;
  border-collapse: collapse;
  background-color: white;
}

.medals-table th, .medals-table td {
  border: 2px solid white;
  padding: 1%;
  text-align: center;
}

.medals-table th {
  background-color: #2724DD;
  color: white;
}

.medals-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media screen and (max-width: 500px) {
  .medals-table {
    font-size: 10px;
  }

  .medals-table th, .medals-table td {
    padding: 3px;
  }
}






